.Products {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.Title h1 {
  font-weight: 800;
  font-size: 40px;
  font-style: italic;
  color: #333;
  margin-top: 4px;
  margin-bottom: 4px;
}
